buildnum.h

!Internal/ArcGISMapsSDK/API
Internal/ArcGISMapsSDK/API/*
Internal/ArcGISMapsSDK/API/ArcGISRuntime
!Internal/ArcGISMapsSDK/API/GameEngine
Internal/ArcGISMapsSDK/API/GameEngine/*
!Internal/ArcGISMapsSDK/API/GameEngine/View
!Internal/ArcGISMapsSDK/API/Standard
Internal/ArcGISMapsSDK/API/Standard/*
Internal/c_api

Private/API/ArcGISRuntime
!Private/API/GameEngine
Private/API/GameEngine/*
!Private/API/GameEngine/Camera
Private/API/GameEngine/Camera/*
!Private/API/GameEngine/Location
Private/API/GameEngine/Location/*
!Private/API/GameEngine/View
!Private/API/Standard
Private/API/Standard/*

Public/ArcGISMapsSDK/API/ArcGISRuntime
!Public/ArcGISMapsSDK/API/GameEngine
Public/ArcGISMapsSDK/API/GameEngine/*
!Public/ArcGISMapsSDK/API/GameEngine/Camera
Public/ArcGISMapsSDK/API/GameEngine/Camera/*
!Public/ArcGISMapsSDK/API/GameEngine/Location
Public/ArcGISMapsSDK/API/GameEngine/Location/*
!Public/ArcGISMapsSDK/API/GameEngine/View
Public/ArcGISMapsSDK/API/GameEngine/View/*
!Public/ArcGISMapsSDK/API/GameEngine/View/State
!Public/ArcGISMapsSDK/API/GameEngine/View/Event
Public/ArcGISMapsSDK/API/Standard

Private/API/Unreal/Collection.cpp
Public/ArcGISMapsSDK/API/Unreal/Collection.h

!Internal/ArcGISMapsSDK/API/Standard/Element.h
!Internal/ArcGISMapsSDK/API/Standard/ElementTraits.h
!Private/API/GameEngine/Camera/ArcGISCamera.cpp
!Private/API/GameEngine/Location/ArcGISRotation.cpp
!Private/API/Standard/Element.cpp
!Public/ArcGISMapsSDK/API/GameEngine/Camera/ArcGISCamera.h
!Public/ArcGISMapsSDK/API/GameEngine/Location/ArcGISRotation.h
!Public/ArcGISMapsSDK/API/GameEngine/View/ArcGISRendererView.h

!Internal/ArcGISMapsSDK/API/GameEngine/RenderCommandQueue
Internal/ArcGISMapsSDK/API/GameEngine/RenderCommandQueue/*
!Internal/ArcGISMapsSDK/API/GameEngine/RenderCommandQueue/DecodedRenderCommandQueue.h
!Internal/ArcGISMapsSDK/API/GameEngine/RenderCommandQueue/RenderCommand.h
!Private/API/GameEngine/RenderCommandQueue
Private/API/GameEngine/RenderCommandQueue/*
!Private/API/GameEngine/RenderCommandQueue/DecodedRenderCommandQueue.cpp

!Private/BlueprintNodes
Private/BlueprintNodes/*
!Private/BlueprintNodes/GameEngine
Private/BlueprintNodes/GameEngine/*
!Private/BlueprintNodes/GameEngine/Location
Private/BlueprintNodes/GameEngine/Location/*

!Public/ArcGISMapsSDK/BlueprintNodes
Public/ArcGISMapsSDK/BlueprintNodes/*
!Public/ArcGISMapsSDK/BlueprintNodes/GameEngine
Public/ArcGISMapsSDK/BlueprintNodes/GameEngine/*
!Public/ArcGISMapsSDK/BlueprintNodes/GameEngine/Location
Public/ArcGISMapsSDK/BlueprintNodes/GameEngine/Location/*
!Public/ArcGISMapsSDK/BlueprintNodes/GameEngine/View
Public/ArcGISMapsSDK/BlueprintNodes/GameEngine/View/*

!Private/BlueprintNodes/GameEngine/Camera
!Private/BlueprintNodes/GameEngine/Location/ArcGISRotation.cpp
!Private/BlueprintNodes/GameEngine/View

!Public/ArcGISMapsSDK/BlueprintNodes/GameEngine/Camera
!Public/ArcGISMapsSDK/BlueprintNodes/GameEngine/Location/ArcGISRotation.h
!Public/ArcGISMapsSDK/BlueprintNodes/GameEngine/View/ArcGISRendererView.h
